*,
*::before,
*::after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}

.no-scroll {
    overflow: hidden;
}

.container {
    /* min-width: 320px; */
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    max-width: 320px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.visually-hidden {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
}

/*--------------*/
/*--- header ---*/
/*--------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*-----------*/
/*--- nav ---*/
/*-----------*/
.nav {
    display: flex;
    align-items: center;
}

.nav__logo {
    padding: 17px 0;
}

@media screen and (min-width: 768px) {
    .nav__logo {
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .nav__logo {
        margin-right: 76px;
    }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo__span {
    color: #2e2f42;
}

.nav__list {
    line-height: 1.5;
    display: none;
    align-items: center;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
    }
}

.nav__item {
}

.nav__link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.active {
    color: #404bbf;
}

.nav__link:hover,
.nav__link:focus {
    color: #404bbf;
}

.nav__link.active:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

/*---------------*/
/*--- address ---*/
/*---------------*/
.address {
    line-height: 1.5;
    font-style: normal;
    display: none;
}

@media screen and (min-width: 768px) {
    .address {
        display: block;
    }
}

.address__list {
}

.address__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

@media screen and (min-width: 1158px) {
    .address__list {
        font-size: 16px;
        flex-direction: row;
    }
}

.address__item:not(:last-child) {
    margin-bottom: 12px;
}

@media screen and (min-width: 1158px) {
    .address__item:not(:last-child) {
        margin-right: 40px;
        margin-bottom: 0;
    }
}

.address__link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
    .address__link {
        padding: 24px 0;
    }
}

.address__link:hover,
.address__link:focus {
    color: #404bbf;
}

/*----------------*/
/*--- mob-menu ---*/
/*----------------*/
.mob-menu__open-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
}

@media screen and (min-width: 768px) {
    .mob-menu__open-btn {
        display: none;
    }
}

.mob-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mob-menu {
        display: none;
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-menu__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__close-btn:hover {
    background-color: #e7e9fc;
}

.list-mob-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
}

.list-mob-menu__item {
}

.list-mob-menu__link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-mob-menu__item.active .list-mob-menu__link,
.list-mob-menu__link:hover {
    color: #404bbf;
}

.mob-menu__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mob-menu__address {
    font-style: normal;
}

.address-mob-menu {
    margin-bottom: 48px;
}

.address-mob-menu__list {
}

.address-mob-menu__item {
}

.address-mob-menu__item:first-child {
    margin-bottom: 24px;
}

.address-mob-menu__link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mob-menu__item.active .address-mob-menu__link,
.address-mob-menu__link:hover {
    color: #4d5ae5;
}

.mob-menu__social {
}

.social-mob-menu {
    display: flex;
    gap: 40px;
}

.social-mob-menu__item {
}

.social-mob-menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-mob-menu__link:hover {
    background-color: #404bbf;
}

.social-mob-menu__icon {
    fill: #fff;
}

/*------------*/
/*--- hero ---*/
/*------------*/
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-mob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
    padding: 72px 0;
}

/* 2x screens, retina, 640x480 image */
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-mob-2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-tab.jpg");
        max-width: 768px;
        padding: 112px 0;
    }

    /* 2x screens, retina, 640x480 image */
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-tab-2x.jpg");
        }
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
        padding: 188px 0;
        max-width: 1440px;
    }

    /* 2x screens, retina, 640x480 image */
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-2x.jpg");
        }
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    color: #fff;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    padding: 0 52px;
}

@media screen and (min-width: 768px) {
    .hero__title {
        padding: 0;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 48px;
    }
}

.hero__btn {
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: #404bbf;
}

/*------------------*/
/*--- advantages ---*/
/*------------------*/
.advantages {
}

.advantages__container {
}

.advantages__title {
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.advantages__item {
    width: 100%;
}

.item-advantages__image {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    display: none;
}

.item-advantages__icon {
    display: block;
}

.item-advantages__head {
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
}

.item-advantages__body {
    line-height: 1.5;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .advantages__list {
        gap: 72px 24px;
    }

    .advantages__item {
        width: calc((100% - 24px) / 2);
    }

    .item-advantages__head {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .advantages__list {
        gap: 24px;
    }

    .advantages__item {
        width: calc((100% - 72px) / 4);
    }

    .item-advantages__image {
        display: flex;
    }

    .item-advantages__head {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .item-advantages__body {
        font-weight: normal;
    }
}

/*------------*/
/*--- team ---*/
/*------------*/
.team {
    background-color: #f4f4fd;
}

.team__container {
    padding-left: 28px;
    padding-right: 28px;
}

.section-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    justify-content: center;
}

.item-team {
    background-color: #ffffff;
    width: 100%;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.item-team__img {
    margin: 0 auto;
}

.item-team__data {
    padding: 32px 0;
}

.item-team__head {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.item-team__body {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 8px;
}

.item-team__social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 16px;
}

.item-team__social-item {
}

.item-team__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-team__social-link:hover,
.item-team__social-link:focus {
    background-color: #404bbf;
}

.item-team__social-icon {
    display: block;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team__container {
        padding-left: 108px;
        padding-right: 108px;
    }

    .team__list {
        flex-direction: row;
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .team__list {
        gap: 24px;
    }

    .team__item {
        width: calc((100% - 72px) / 4);
    }
}

/*-----------------*/
/*--- portfolio ---*/
/*-----------------*/
.portfolio {
}

.portfolio__title {
    letter-spacing: 0.02em;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.item-portfolio {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: 100%;
    max-width: 360px;
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.item-portfolio__image-wrap {
    position: relative;
    overflow: hidden;
}

.item-portfolio__img {
}

.item-portfolio__overlay {
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    line-height: 1.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover .item-portfolio__overlay {
    transform: translateY(0);
}

.item-portfolio__data {
    padding: 32px 16px;
    border: 1px solid #f4f4fd;
    border-top: none;
}

.item-portfolio__head {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.item-portfolio__body {
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .portfolio__list {
        row-gap: 72px;
    }

    .item-portfolio {
        width: calc((100% - 24px) / 2);
        background: #fff;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio__list {
        row-gap: 48px;
    }

    .item-portfolio {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    .item-portfolio__data {
        border-color: #e7e9fc;
    }
}

/*--------------*/
/*--- footer ---*/
/*--------------*/
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

.footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .footer__container {
        align-items: baseline;
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer__container {
        flex-wrap: wrap;
        max-width: 584px;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer__container {
        align-items: baseline;
        gap: unset;
    }
}

/*-----------------------*/
/*--- footer__column1 ---*/
/*-----------------------*/
.footer__column1 {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer__column1 {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .footer__column1 {
        margin-right: 120px;
    }
}

.footer__logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer__span {
    color: #f4f4fd;
}

.footer__body {
    color: #f4f4fd;
    line-height: 1.5;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .footer__body {
        width: 264px;
    }
}

/*-----------------------*/
/*--- footer__column2 ---*/
/*-----------------------*/
.footer__column2 {
}

@media screen and (min-width: 1158px) {
    .footer__column2 {
        margin-right: 80px;
    }
}

.socials-footer {
}

.socials-footer__head {
    text-align: center;
}

.column-head {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .column-head {
        text-align: left;
    }
}

.socials-footer__list {
    display: flex;
    gap: 16px;
}

.socials-footer__item {
}

.socials-footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer__link:hover,
.socials-footer__link:focus {
    background-color: #31d0aa;
}

.socials-footer__icon {
    fill: #f4f4fd;
}

/*-----------------------*/
/*--- footer__column3 ---*/
/*-----------------------*/
.subscribe {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 1158px) {
    .subscribe-form {
        flex-grow: 1;
        width: auto;
    }
}

.subscribe-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .subscribe-form {
        gap: 24px;
        flex-direction: row;
    }
}

.subscribe-form__input {
    padding: 8px 16px;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    flex-grow: 1;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding-left: 16px;
    width: 288px;
    opacity: 0.3;
}

@media screen and (min-width: 768px) {
    .subscribe-form__input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .subscribe-form__input {
        opacity: 1;
    }
}

.subscribe-form__input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.subscribe-form__btn {
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #4d5ae5;
    border: none;
    height: 40px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__btn:hover {
    background-color: #404bbf;
}

.subscribe-form__icon {
    fill: #fff;
    margin-left: 16px;
}

/*-------------*/
/*--- modal ---*/
/*-------------*/
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    border-radius: 4px;
    background: #fcfcfc;
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}

.modal__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn-icon {
    fill: #2e2f42;
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal__close-btn:hover .modal__close-btn-icon,
.modal__close-btn:focus .modal__close-btn-icon {
    fill: #ffffff;
}

.modal__title {
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #2e2f42;
}

.modal__field:not(:last-child) {
    margin-bottom: 8px;
}

.modal__field.terms {
    margin-bottom: 24px;
}

.modal__field.modal__field-textarea {
    margin-bottom: 16px;
}

.modal__label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    display: block;
}

.modal__label-title {
}

.modal__input {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
}

.modal__input:focus {
    border-color: #4d5ae5;
}

.modal__input:focus + .modal__input-icon {
    fill: #4d5ae5;
}

.modal__input-wrap {
    position: relative;
}

.modal__input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input.modal__input-textarea {
    height: 120px;
    resize: none;
    padding: 8px 16px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal__input.modal__input-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
    opacity: 1;
}

.terms__label {
    letter-spacing: 0.04em;
    display: flex;
}

.modal__checkbox {
    letter-spacing: 0.04em;
}

.terms__label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.terms__link {
    color: #4d5ae5;
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms__link:hover {
    text-decoration: none;
    color: #404bbf;
}

.modal__submit-btn {
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    display: block;
}

.modal__submit-btn:hover {
    background-color: #404bbf;
}

.modal__checkbox-span {
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    fill: transparent;
}

.modal__input-icon-check {
}

.modal__checkbox:checked + .terms__label .modal__checkbox-span {
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
    border: none;
}
